In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Police_Arrests_20240702.csv')

In [3]:
print(df)

       ID Reference Number           Subject's race Subject's gender  \
0                         1                   Asian             Male
1                         2  Black/African American             Male
2                         3  Black/African American             Male
3                         4  Black/African American             Male
4                         5                   White           Female
...                     ...                     ...              ...
23505                 23506  Black/African American             Male
23506                 23507                   Asian             Male
23507                 23508                   White             Male
23508                 23509                   White             Male
23509                 23510  Black/African American             Male

       Subject's age     Ethnicity  District of occurrence  \
0                 43  NON-HISPANIC                     6.0
1                 23  NON-HISPANIC                     1.0
2                 18  NON-HISPANIC                     1.0
3                 21  NON-HISPANIC                     1.0
4                 38      HISPANIC                     4.0
...              ...           ...                     ...
23505             30  NON-HISPANIC                     3.0
23506             60  NON-HISPANIC                     3.0
23507             22      HISPANIC                     4.0
23508             25      HISPANIC                     4.0
23509             24  NON-HISPANIC                     3.0

       Adjacent to School Assigned Division Assigned Bureau  Event Date/Time
0                       0               TOD             FSB    1/1/2021 1:07
1                       0              RCPD             NaN    1/1/2021 0:52
2                       0              RCPD             NaN    1/1/2021 0:52
3                       0              RCPD             NaN    1/1/2021 0:52
4                       0               TOD             FSB    1/1/2021 3:00
...                   ...               ...             ...              ...
23505                   0                3D             PSB  6/30/2024 11:00
23506                   0                3D             PSB    7/1/2024 7:27
23507                   0                2D             PSB   6/29/2024 2:42
23508                   0                2D             PSB   6/29/2024 2:42
23509                   0                3D             PSB   7/1/2024 16:23

[23510 rows x 10 columns]

In [4]:
print(df.head)

<bound method NDFrame.head of        ID Reference Number           Subject's race Subject's gender  \
0                         1                   Asian             Male
1                         2  Black/African American             Male
2                         3  Black/African American             Male
3                         4  Black/African American             Male
4                         5                   White           Female
...                     ...                     ...              ...
23505                 23506  Black/African American             Male
23506                 23507                   Asian             Male
23507                 23508                   White             Male
23508                 23509                   White             Male
23509                 23510  Black/African American             Male

       Subject's age     Ethnicity  District of occurrence  \
0                 43  NON-HISPANIC                     6.0
1                 23  NON-HISPANIC                     1.0
2                 18  NON-HISPANIC                     1.0
3                 21  NON-HISPANIC                     1.0
4                 38      HISPANIC                     4.0
...              ...           ...                     ...
23505             30  NON-HISPANIC                     3.0
23506             60  NON-HISPANIC                     3.0
23507             22      HISPANIC                     4.0
23508             25      HISPANIC                     4.0
23509             24  NON-HISPANIC                     3.0

       Adjacent to School Assigned Division Assigned Bureau  Event Date/Time
0                       0               TOD             FSB    1/1/2021 1:07
1                       0              RCPD             NaN    1/1/2021 0:52
2                       0              RCPD             NaN    1/1/2021 0:52
3                       0              RCPD             NaN    1/1/2021 0:52
4                       0               TOD             FSB    1/1/2021 3:00
...                   ...               ...             ...              ...
23505                   0                3D             PSB  6/30/2024 11:00
23506                   0                3D             PSB    7/1/2024 7:27
23507                   0                2D             PSB   6/29/2024 2:42
23508                   0                2D             PSB   6/29/2024 2:42
23509                   0                3D             PSB   7/1/2024 16:23

[23510 rows x 10 columns]>

In [5]:
df.describe()

,ID Reference Number,Subject's age,District of occurrence,Adjacent to School
count,23510.00000,23510.000000,23408.000000,23510.000000
mean,11755.50000,31.813143,3.989192,0.085155
std,6786.89675,12.946909,1.748587,0.279119
min,1.00000,1.000000,1.000000,0.000000
25%,5878.25000,22.000000,3.000000,0.000000
50%,11755.50000,30.000000,4.000000,0.000000
75%,17632.75000,39.000000,5.000000,0.000000
max,23510.00000,99.000000,8.000000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23510 entries, 0 to 23509
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID Reference Number     23510 non-null  int64
 1   Subject's race          23510 non-null  object
 2   Subject's gender        23510 non-null  object
 3   Subject's age           23510 non-null  int64
 4   Ethnicity               23510 non-null  object
 5   District of occurrence  23408 non-null  float64
 6   Adjacent to School      23510 non-null  int64
 7   Assigned Division       23381 non-null  object
 8   Assigned Bureau         18851 non-null  object
 9   Event Date/Time         23510 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.8+ MB

In [7]:
# Convert categorical columns to 'category' dtype
categorical_columns = ['Subject\'s race', 'Subject\'s gender', 'Ethnicity', 'Assigned Division', 'Assigned Bureau']
for col in categorical_columns:
    df[col] = df[col].astype('category')

# Verify the conversion
print(df.info())

# Get descriptive statistics for numerical features
print(df.describe())

# Get descriptive statistics for categorical features
print(df.describe(include=['category']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23510 entries, 0 to 23509
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID Reference Number     23510 non-null  int64
 1   Subject's race          23510 non-null  category
 2   Subject's gender        23510 non-null  category
 3   Subject's age           23510 non-null  int64
 4   Ethnicity               23510 non-null  category
 5   District of occurrence  23408 non-null  float64
 6   Adjacent to School      23510 non-null  int64
 7   Assigned Division       23381 non-null  category
 8   Assigned Bureau         18851 non-null  category
 9   Event Date/Time         23510 non-null  object
dtypes: category(5), float64(1), int64(3), object(1)
memory usage: 1.0+ MB
None
       ID Reference Number   Subject's age  District of occurrence  \
count           23510.00000   23510.000000            23408.000000
mean            11755.50000      31.813143                3.989192
std              6786.89675      12.946909                1.748587
min                 1.00000       1.000000                1.000000
25%              5878.25000      22.000000                3.000000
50%             11755.50000      30.000000                4.000000
75%             17632.75000      39.000000                5.000000
max             23510.00000      99.000000                8.000000

       Adjacent to School
count        23510.000000
mean             0.085155
std              0.279119
min              0.000000
25%              0.000000
50%              0.000000
75%              0.000000
max              1.000000
                Subject's race Subject's gender     Ethnicity  \
count                    23510            23510         23510
unique                       6                2             2
top     Black/African American             Male  NON-HISPANIC
freq                     11495            18567         16358

       Assigned Division Assigned Bureau
count              23381           18851
unique                24               4
top                   3D             PSB
freq                4331           16309

In [8]:
df.shape

(23510, 10)

In [9]:
import pandas as pd

# Example dataset (replace this with the path to your dataset)
data = {
    "ID Reference Number": [1, 2, 3, 4, 5],
    "Subject's race": ['Asian', 'Black/African American', 'Black/African American', 'Black/African American', 'White'],
    "Subject's gender": ['Male', 'Male', 'Male', 'Male', 'Female'],
    "Subject's age": [43, 23, 18, 21, 38],
    "Ethnicity": ['NON-HISPANIC', 'NON-HISPANIC', 'NON-HISPANIC', 'NON-HISPANIC', 'HISPANIC'],
    "District of occurrence": [6.0, 1.0, 1.0, 1.0, 4.0],
    "Adjacent to School": [0, 0, 0, 0, 0],
    "Assigned Division": ['TOD', 'RCPD', 'RCPD', 'RCPD', 'TOD'],
    "Assigned Bureau": ['FSB', None, None, None, 'FSB'],
    "Event Date/Time": ['1/1/2021 1:07', '1/1/2021 0:52', '1/1/2021 0:52', '1/1/2021 0:52', '1/1/2021 3:00']
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display the original dataset
print("Original Dataset:\n", df.head())

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['category', 'object']).columns

# Remove categorical columns
df_numeric = df.drop(columns=categorical_columns)

# Display the dataset without categorical columns
print("Dataset without Categorical Columns:\n", df_numeric.head())

Original Dataset:
    ID Reference Number          Subject's race Subject's gender  \
0                    1                   Asian             Male
1                    2  Black/African American             Male
2                    3  Black/African American             Male
3                    4  Black/African American             Male
4                    5                   White           Female

   Subject's age     Ethnicity  District of occurrence  Adjacent to School  \
0             43  NON-HISPANIC                     6.0                   0
1             23  NON-HISPANIC                     1.0                   0
2             18  NON-HISPANIC                     1.0                   0
3             21  NON-HISPANIC                     1.0                   0
4             38      HISPANIC                     4.0                   0

  Assigned Division Assigned Bureau Event Date/Time
0               TOD             FSB   1/1/2021 1:07
1              RCPD            None   1/1/2021 0:52
2              RCPD            None   1/1/2021 0:52
3              RCPD            None   1/1/2021 0:52
4               TOD             FSB   1/1/2021 3:00
Dataset without Categorical Columns:
    ID Reference Number  Subject's age  District of occurrence  \
0                    1             43                     6.0
1                    2             23                     1.0
2                    3             18                     1.0
3                    4             21                     1.0
4                    5             38                     4.0

   Adjacent to School
0                   0
1                   0
2                   0
3                   0
4                   0

In [10]:
 #let check for duplicates values( no duplicates values)
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
import pandas as pd



# Identify categorical columns
categorical_columns = df.select_dtypes(include=['category', 'object']).columns

# Remove categorical columns
df_numeric = df.drop(columns=categorical_columns)

# Display the first few rows of the dataset without categorical columns
print("Dataset without Categorical Columns:\n", df_numeric.head())

Dataset without Categorical Columns:
    ID Reference Number  Subject's age  District of occurrence  \
0                    1             43                     6.0
1                    2             23                     1.0
2                    3             18                     1.0
3                    4             21                     1.0
4                    5             38                     4.0

   Adjacent to School
0                   0
1                   0
2                   0
3                   0
4                   0

In [12]:
# Check for missing values
print(df.isnull().sum())

# Example of handling missing values (filling with mode for categorical columns and mean for numerical columns)
for col in categorical_columns:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Handle numerical columns similarly if needed
numerical_columns = ['District of occurrence']
for col in numerical_columns:
    df[col].fillna(df[col].mean(), inplace=True)

# Verify no missing values
print(df.isnull().sum())

ID Reference Number       0
Subject's race            0
Subject's gender          0
Subject's age             0
Ethnicity                 0
District of occurrence    0
Adjacent to School        0
Assigned Division         0
Assigned Bureau           3
Event Date/Time           0
dtype: int64
ID Reference Number       0
Subject's race            0
Subject's gender          0
Subject's age             0
Ethnicity                 0
District of occurrence    0
Adjacent to School        0
Assigned Division         0
Assigned Bureau           0
Event Date/Time           0
dtype: int64

In [13]:
#calculate the percentage of missing values in each column
(df.isnull().sum()/(len(df)))*100

ID Reference Number       0.0
Subject's race            0.0
Subject's gender          0.0
Subject's age             0.0
Ethnicity                 0.0
District of occurrence    0.0
Adjacent to School        0.0
Assigned Division         0.0
Assigned Bureau           0.0
Event Date/Time           0.0
dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID Reference Number     5 non-null      int64
 1   Subject's race          5 non-null      object
 2   Subject's gender        5 non-null      object
 3   Subject's age           5 non-null      int64
 4   Ethnicity               5 non-null      object
 5   District of occurrence  5 non-null      float64
 6   Adjacent to School      5 non-null      int64
 7   Assigned Division       5 non-null      object
 8   Assigned Bureau         5 non-null      object
 9   Event Date/Time         5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 532.0+ bytes

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.iloc[:,1] = le.fit_transform(df.iloc[:,1]) 
df.iloc[:,2] = le.fit_transform(df.iloc[:,2]) 
df.iloc[:,3] = le.fit_transform(df.iloc[:,3]) 
df.iloc[:,4] = le.fit_transform(df.iloc[:,4])  
df.iloc[:,6] = le.fit_transform(df.iloc[:,6]) 
df.iloc[:,7] = le.fit_transform(df.iloc[:,7]) 
df.iloc[:,9] = le.fit_transform(df.iloc[:,9]) 
 
print(df)

   ID Reference Number Subject's race Subject's gender  Subject's age  \
0                    1              0                1              4
1                    2              1                1              2
2                    3              1                1              0
3                    4              1                1              1
4                    5              2                0              3

  Ethnicity  District of occurrence  Adjacent to School Assigned Division  \
0         1                     6.0                   0                 1
1         1                     1.0                   0                 0
2         1                     1.0                   0                 0
3         1                     1.0                   0                 0
4         0                     4.0                   0                 1

  Assigned Bureau Event Date/Time
0             FSB               1
1             FSB               0
2             FSB               0
3             FSB               0
4             FSB               2